* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 80px;
    width: 100%;
    padding: 0 8%;
    background: #080008;
    position: relative;

}

.main {
    height: 76.7vh;
    width: 100%;
    padding: 0 8%;
    background: #3A3845;
    position: relative;
}
#first_letter {
    position: relative;
    top: 12px;
    color: crimson;
    font-size: 60px;
}
#other_letter {
    position: relative;
    top: 12px;
    color: #ffffff;
    font-size: 40px;
}
a {
    text-decoration: none;
}

.footer {
    height: 60px;
    width: 100%;
    padding: 0 8%;
    background: #080008;
    position: relative;
}
#about_image {
    position: relative;
}

#description {
    position: relative;
}
