* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 120px;
    width: 100%;
    padding: 0 8%;
    background: #080008;
    position: relative;

}

.main {
    height: 86.7vh;
    width: 100%;
    padding: 0 8%;
    background: #3A3845;
    position: relative;
}
#first_letter {
    position: relative;
    top: 18px;
    color: crimson;
    font-size: 80px;
}
#other_letter {
    position: relative;
    top: 18px;
    color: #ffffff;
    font-size: 60px;
}
a {
    text-decoration: none;
}

#about_text {
    color: white;
    position: absolute;
    text-align: right;
    left: 85%;
    top: 38px;
    font-size: 60px;
}

